<ul class="flex items-center gap-4 md:gap-8 font-bold text-yellow-900">
  <li>
    <a routerLink="/" class="hover:text-white transition-colors cursor-pointer px-2 py-1">
      Inicio
    </a>
  </li>

  <li>
    <a routerLink="/personajes" class="hover:text-white transition-colors cursor-pointer px-2 py-1">
      Personajes
    </a>
  </li>

  <li>
    <a routerLink="/episodios" class="hover:text-white transition-colors cursor-pointer px-2 py-1">
      Episodios
    </a>
  </li>

  <li>
    <a routerLink="/lugares" class="hover:text-white transition-colors cursor-pointer px-2 py-1">
      Lugares
    </a>
  </li>

  <li>
    <a
      routerLink="/login"
      hlmBtn
      variant="destructive"
      class="ml-2 rounded-full shadow-sm cursor-pointer"
    >
      Salir
    </a>
  </li>
</ul>
